COMPOSE_PROJECT_NAME=drupal7localbase

APP_URL=http://localhost:8080
DRUPAL_VERSION=7.103

APACHE_HOST_PORT=8080
ADMINER_HOST_PORT=8081

MYSQL_DATABASE=drupal7
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=mysql
MYSQL_PORT=3306
